.secteurContent {
    .sector-listing{
        z-index: -1;

    .img-sector{
        position: relative;
    }
    .sector-text{
        font-size: 1.5rem;
        font-family: $font-1;
        position: absolute;
        font-weight: bold;
        color: $color-2;
    }}
   
}