.secteurContent {
    .sector-listing{
       

        
    
    .sector-text{
        font-size: 2rem;
        font-family: $font-1;
        font-weight: bold;
        color: white; 
        text-align: center;
        text-shadow: $shadow;
    }}
   
}