.secteurContent {
    .sector-listing{
       

        li {

        }

        // .img-sector {
        //     position: relative;
            
        // }
    
    .sector-text{
        // position: absolute;
        font-size: 2rem;
        font-family: $font-1;
        font-weight: bold;
        color: white; 
        text-align: center;
        text-shadow: 0px 0px 12px rgba(0,0,0,0.90);
    }}
   
}